.App {
  font-family: Avenir, Arial, Helvetica, sans-serif;
  -webkit-font-smooting: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: left;
  color: #444444;
  margin-top: 60px;
}
body{
  margin: 0;
  background: #eee;

}



form, .result {
  max-width: 1080px;
  margin: 30px auto;
  background: white;
  text-align: left;
  padding: 40px;
  border-radius: 10px;
}
label {
  color: #494d50;
  display:inline-block;
  margin: 25px 0 15px;
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;

}
input, select{
  display: block;
  padding: 10px 6px;
  width: 100%;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #ddd;
  color: #555;
}

input[type="checkbox"]{
  display: inline-block;
  width: 16px;
  margin: 5px 10px 5px 5px;
  position: relative;
  top: 2px;
  bottom: 2px;
}
input[type="number"]{
  display: inline-block;
  width: 100px;
  margin:10px 10px 0px 10px;
  position: relative;
  top: 2px;
}

.pill{
  display: inline-block;
  margin: 20px 10px 0 0;
  padding: 6px 12px;
  background: #eee;
  border-radius: 20px;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: bold;
  color: #777;
  cursor: pointer;
}

button{
  background: #0b6dff;
  border:0;
  padding: 15px 30px;
  margin-top: 20px;
  color: white;
  border-radius: 10px;
}

.submit{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
.error {
  color: #ff0062;
  margin-top: 10px;
  font-size: 0.8em;
  font-weight: bold;
}
p{
  word-wrap: break-word;
}
h1{
  text-align: center;
}
h2{
  font-size: 20px;
  color: #494d50;
}
.link{
  text-align: center;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 20px;
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 30px;
  background-color: rgb(251, 251, 253);
}
.featured-image-left {
  max-height: 20em;
  object-fit: cover;
  object-position: center;
   float:left;
  padding-right:1%; /* or top or bottom */
}
p {
  text-align: justify;
}
#content {
  flex: 5;
  display: flex;
 flex-flow: column nowrap;
 gap: 1rem 2rem;
}
.subtitle{
  float:inline-end;
}